/* mobile styling */

@media screen and (max-width: 499px) {
  header {
    position: relative;
    margin-bottom: 25px;
  }

  .landing-header-title {
    display: block;
    color: #336b87;
    margin: 0 0 0 10px;
  }

  .landing-header-links {
    display: block;
    margin: 0 auto;
    color: #336b87;
    text-align: center;
  }

  .landing-header-links #register {
    background-color: #336b87;
    border: 0;
    color: white;
    padding: 6px;
  }

  .landing-header-links #login {
    background-color: #336b87;
    border: 0;
    color: white;
    margin-left: 20px;
    padding: 6px;
  }
}

@media screen and (min-width: 500px) {
  header {
    position: relative;
    margin-bottom: 25px;
  }

  .landing-header-title {
    color: #336b87;
    margin: 10px 0 0 10px;
  }

  .landing-header-links {
    position: absolute;
    right: 5em;
    top: 0.75em;
    margin: 0 5px 0 0;
  }

  .landing-header-links #register {
    background-color: #336b87;
    border: 0;
    color: white;
    padding: 6px;
  }

  .landing-header-links #login {
    background-color: #336b87;
    border: 0;
    color: white;
    margin-left: 4px;
    padding: 6px;
  }
}
