/* mobile styling */

header {
  position: relative;
  margin-bottom: 25px;
}

main {
  height: 100%;
  display: flexbox;
}

.landing-page {
  height: 100%;
}

.landing-header a {
  margin: 0 5px 0 0;
}

.landing-header-title {
  display: block;
  color: #336b87;
  margin: 0 0 0 10px;
}

.landing-header-links {
  position: absolute;
  right: 0;
  top: 0.75em;
  color: #336b87;
}

.landing-header a:visited {
  color: #336b87;
}

.landing-container {
  height: 100%;
  background: url('../images/london-smallben.svg');
  background-color: #763626;
  background-color: #9cbce3;
}

.landing-container main .landing-lead {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
  text-align: center;
  color: #c68739;
  width: 75%;
  border-radius: 5px;
}

.landing-lead p {
  margin-top: 1px;
  line-height: 1.7em;
}

.landing-lead-title {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
}

/* large screen styling */
@media screen and (min-width: 800px) {
  .landing-container {
    height: 100%;
    background: url('../images/london-bigben-1500x850.jpg');
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    /* background-color: #763626; */
    background-color: #9cbce3;
  }
}
