/* mobile styling */

header {
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
}

.landing-container {
  height: 100%;
  background-color: #336b87;
}

.landing-header a {
  margin: 0 5px 0 0;
}

.landing-header-title {
  display: inline;
  color: #90afc5;
  margin: 10px 0 0 10px;
}

.landing-header-links {
  position: absolute;
  right: 0;
  top: 0.75em;
  color: #90afc5;
}

a:visited {
  color: #90afc5;
}

.landing-lead {
  text-align: center;
  color: white;
  background-color: #763626;
}

.landing-lead p {
  margin-top: 1px;
  line-height: 1.7em;
}

.landing-lead-title {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
}

/* large screen styling */
@media screen and (min-width: 800px) {
}
