.dashboard-container {
}

.dashboard-current {
  text-align: center;
  background-color: #90afc5;
}

.dashboard-header {
  margin: 1em 0 0 1em;
}

li:nth-child(odd) {
  background: red;
}

li:nth-child(even) {
  background: green;
}

ul {
  list-style: none;
}
