.dashboard-current {
  background-color: #90afc5;
  overflow: auto;
}

.dashboard-date {
  padding: 0 4px 0 4px;
}

.dashboard-prescription-button {
  float: right;
}

.dashboard-header {
  text-align: center;
  color: #336b87;
}

.dashboard-list {
  text-align: center;
}
