.login-form {
  width: 75%;
  margin: auto;
  border: 2px solid #336b87;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}

.login-input {
  color: #336b87;
}

.login-submit {
  color: #ffffff;
  background-color: #336b87;
  border-color: #336b87;
  margin-bottom: 5px;
}

.login-container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-align: center;
}

.login-container::after {
  content: '';
  background: url('../images/mountain-wildflowers.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  filter: blur(2px);
}
