@media screen and (max-width: 499px) {
  .Prescription__Header {
    color: #336b87;
  }
  .addrx-form {
    width: 50vh;
    margin: auto;
    border: 2px solid #336b87;
    color: #336b87;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  .addrx-input {
    color: #336b87;
  }

  .addrx-submit {
    color: #ffffff;
    background-color: #336b87;
    border-color: #336b87;
    margin-bottom: 5px;
  }

  .addrx-container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
  }

  .addrx-container::after {
    content: '';
    background: url('../images/london-smallben.svg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
  }

  .Prescription__day_list {
    background-color: white;
  }
}

@media screen and (min-width: 500px) {
  .Prescription__Header {
    color: #336b87;
  }
  .addrx-form {
    width: 50vh;
    margin: auto;
    border: 2px solid #336b87;
    color: #336b87;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  .addrx-input {
    color: #336b87;
  }

  .addrx-submit {
    color: #ffffff;
    background-color: #336b87;
    border-color: #336b87;
    margin-bottom: 5px;
  }

  .addrx-container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
  }

  .addrx-container::after {
    content: '';
    background: url('../images/london-bigben-1500x850.jpg');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
  }

  .Prescription__day_list {
    background-color: white;
  }
}
